<h2>Edit Product</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@ViewBag.EditedProduct.Id" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@ViewBag.EditedProduct.Name" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required>@ViewBag.EditedProduct.Description</textarea>
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <textarea class="form-control" id="Price" name="Price" required>@ViewBag.EditedProduct.Price</textarea>
    </div>
    <div class="form-group">
        <label for="Brand">Brand</label>
        <textarea class="form-control" id="Description" name="Brand" required>@ViewBag.EditedProduct.Brand</textarea>
    </div>
    <div class="form-group">
        <label for="Ingredients">Ingredients</label>
        <textarea class="form-control" id="Ingredients" name="Ingredients" required>@ViewBag.EditedProduct.Ingredients</textarea>
    </div>
    <div class="form-group">
        <label for="DateListed">Date Listed</label>
        <input type="date" class="form-control" id="DateListed" name="DateListed" value="@ViewBag.EditedProduct.DateListed.ToString("yyyy-MM-dd")" required />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<br />
<a href="/Products/Index" class="btn btn-secondary">Cancel</a>