@model IEnumerable<Store.Models.Product>

<h2 class="text-center">Afisare produse skincare</h2>
<br />
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Categories/Index">Afisare categorii</a> <br />
    <a class="btn btn-outline-success" href="/Products/Create">Adauga produs</a> <br />
</div>
<br />

@foreach (var product in Model)
{
    <div class="card">
        <div class="card-body">
            <h3 class="card-title alert-success py-3 px-3 rounded-2">@product.Name</h3>
            <div class="card-text">@product.Description</div>
            <div class="card-text">@product.Brand</div>
            <div class="card-text">@product.Price</div>
            <div class="card-text">@product.Ingredients</div>
            <div class="d-flex justify-content-between flex-row mt-5">
                <div><i class="bi bi-globe"></i>@product.Category?.CategoryName</div>
                <a class="btn btn-success" href="/Products/Details/@product.Id">Afisare produs</a>
                <a class="btn btn-info" href="/Products/Edit/@product.Id">Editare produs</a>
                <span class="alert-success px-1 align-content-center">@product.DateListed</span>
            </div>
        </div>
    </div>
    <br />
    <br />
}